.mainheading {
color : black;
font-size: 40;
font-family: Arial;
text-align: center;
font-weight: bold;
padding: 60px;
margin:auto;
background-color: rgb(173, 185, 202);
}

.sidenav a:hover{
  background-color: rgb(132,151,176);
}

#logout{
  margin-top: 150px;
}

#active{
  background-color: rgb(132,151,176);
}
.sidenav {
  margin-top: 165px;
  margin-left: 8px;
  width: 165px;
  background-color: rgb(173, 185, 202);
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.sidenav a {
  height:50px;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  font-family: Arial;
  color: black;
}

.container h1{
  text-align: center;
  font-family: Arial;
}

#exetermap{
  display: block;
  border: 4px solid black;
  float: right;
  width: 500px;
  height: 450px;
}

#bottomdetails{
  position: absolute;
  bottom: 80px;
}


.conincon{
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 20;
  z-index: 2;
  margin-left: 42px;
  margin-right: 42px;
  height: 500px;
}

.container{
  z-index: 1;
  margin-left: 165px;
  height: 100%;
}

.container::after{
  content: "";
  background: url(watermark.png) no-repeat;
  background-size: 400px 300px;
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
